@import '../configs/globals';

.footer {
	$this: &;

	display: flex;
	flex-direction: column;

	&-top-bar {
		background: linear-gradient(90deg, rgba($black, 0.075), $white);
		width: 100%;

		@include fullWidth;

		#{$this}-top-wrapper {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 3em 1.5em;

			@include container($paddingY: 2em);

			@include laptop {
				grid-template-columns: repeat(2, 1fr);
			}

			@include tablet {
				padding-top: 2.5em;
				padding-bottom: 2.5em;
			}

			@include mobile {
				grid-template-columns: 1fr;
				gap: 2em;
			}

			.socials {
				h6 {
					margin-bottom: 0.75em;
				}

				ul {
					display: flex;
					gap: 1em;

					li {
						a {
							color: $black;
							font-size: 1.875em;

							&:hover {
								opacity: 0.75;
							}
						}
					}
				}
			}

			.list {
				@extend .general;

				ul {
					li {
						&:nth-of-type(3) {
							margin-top: 1em;
						}

						&:nth-of-type(4) {
							margin-bottom: 1em;
						}
					}
				}
			}

			.general {
				h6 {
					margin-bottom: 0.75em;
				}

				ul {
					display: flex;
					flex-direction: column;
					gap: 0.5em;

					li {
						a {
							i {
								margin-right: 0.5em;
								color: $black;
							}
						}
					}
				}
			}

			.logo {
				width: 250px;

				@include tooSmall {
					width: -webkit-fill-available;
				}

				img {
					overflow: hidden;

					@include borderRadius;
				}
			}
		}
	}

	&-bottom-bar {
		background: rgba($green, 0.5);

		@include fullWidth;

		#{$this}-bottom-wrapper {
			display: flex;
			justify-content: space-between;

			@include container;

			@include mobile {
				padding: 0 1.5em;
			}

			> div {
				text-align: center;
				font-size: small;
				padding: 0.75em 0;

				a {
					font-weight: 600;

					&:hover {
						text-decoration: underline;
						text-decoration-thickness: 1px;
						text-underline-offset: 0.25em;
						text-decoration-color: $white;
					}
				}
			}
		}
	}
}
