@import '../configs/globals';

.header {
	display: flex;
	justify-content: space-between;
	padding: 1em 0;
	position: relative;

	.logo {
		width: 200px;
	}

	.menu {
		display: flex;
		align-items: center;

		@include mobile {
			display: none;
		}

		ul {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 1em;

			a {
				padding: 0.5em 1em;
				border: 2px solid rgba($green, 0.5);

				@include borderRadius;

				&:hover {
					background: rgba($green, 0.5);
				}
			}
		}
	}

	.mobile {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		padding: 1.5em 1em;
		background: rgba($green, 0.75);
		color: $white;

		@include borderRadius;

		&.open {
			display: block;
		}

		ul {
			display: flex;
			flex-direction: column;
			gap: 0.5em;

			li {
			}
		}
	}
}
