@import '../configs/globals';

.header {
	display: flex;
	justify-content: space-between;
	padding: 1em 0;
	position: relative;

	.logo {
		width: 200px;
	}

	.menu {
		display: flex;
		align-items: center;

		@include mobile {
			display: none;
		}

		ul {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border: 1px solid rgba($black, 1);

			min-height: 40px;
			overflow: hidden;

			@include borderRadius;
			@include boxShadow(1);

			li {
				a {
					padding: 0.75em 1em;

					@include smoothTrans;

					&.active {
						background: rgba($green, 0.375);
					}

					&:hover {
						background: rgba($green, 0.625);
					}
				}
			}
		}
	}

	.mobile {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;

		color: $white;
		width: 50%;
		z-index: 2;
		overflow: hidden;
		border: 1px solid rgba($white, 1);

		@include borderRadius;

		@include mobile {
			&.open {
				display: block;
			}
		}

		ul {
			display: flex;
			flex-direction: column;

			li {
				a {
					padding: 1em 1.5em;
					display: block;
					background: rgba($green, 0.9);

					&.active {
						background: rgba($green, 1);

						&:before {
							content: '>';
							padding-right: 0.5em;
						}
					}
				}
			}
		}
	}
}
