@import '../configs/globals';

.header {
	height: 92px;
	margin-bottom: 2em;

	@include fullWidth;

	&-container {
		position: fixed;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		justify-content: space-between;
		background: $white;
		z-index: 3;
		border-bottom-right-radius: 1em;
		border-bottom-left-radius: 1em;

		@include container($paddingY: 1em, $mobPaddingY: 0.5em);
	}

	.logo {
		width: 200px;
	}

	.menu {
		display: flex;
		align-items: center;

		@include mobile {
			display: none;
		}

		ul {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border: 1px solid rgba($black, 1);

			min-height: 40px;
			overflow: hidden;

			@include borderRadius;
			@include boxShadow(1);

			li {
				a {
					padding: 0.75em 1em;

					@include smoothTrans;

					&.active {
						background: rgba($green, 0.375);
					}

					&:hover {
						background: rgba($green, 0.625);
					}
				}
			}
		}
	}

	.mobile {
		display: none;
		position: absolute;
		top: 110%;
		right: 1.75%;
		width: 50%;
		z-index: 2;
		overflow: hidden;
		outline: 1px solid rgba($black, 1);
		border: 10px solid rgba($green, 0.75);

		@include borderRadius;

		@include mobile {
			&.open {
				display: block;
			}
		}

		ul {
			display: flex;
			flex-direction: column;

			li {
				&:not(:last-of-type) {
					border-bottom: 1px solid rgba($grey, 1);
				}

				a {
					padding: 1.25em 1.5em;
					display: block;
					background: rgba($white, 0.9);
					font-weight: 500;
					color: $black;

					&.active {
						background: rgba($white, 1);

						&:before {
							content: '>';
							color: $green;
							padding-right: 0.5em;
						}
					}
				}
			}
		}
	}
}
