@import '../configs/globals';

.hero {
	$hero: &;

	@include mobile {
		@include fullWidth;
	}

	@include tooSmall {
		display: none;
	}

	#{$hero}-wrapper {
		max-height: 550px;

		@include borderRadius;

		@include laptop {
			max-height: 450px;
		}

		@include phablet {
			max-height: 350px;
		}

		@include mobile {
			max-height: 275px;
			border-radius: 0;
		}

		@include compact {
			max-height: 237.5px;
		}

		@include mini {
			max-height: 175px;
		}

		#{$hero}-slide {
			#{$hero}-image {
				opacity: 0.95;
			}

			&-box {
				position: absolute;
				top: 22em;
				right: 0;
				max-width: 600px;
				padding: 1.5em;
				background: $white;

				@include borderRadius(0.25em 0 0 0.25em);

				@include laptop {
					top: 16.5em;
				}

				@include tablet {
					top: 18em;
					max-width: 100%;
					background: rgba($green, 0.375);
					color: $white;
					padding: 1em 1.5em 3em 1.5em;
					width: 100%;

					@include borderRadius(0);
				}

				@include phablet {
					top: 12em;
				}

				@include mobile {
					padding: 1em 1em 2em 1em;
					top: 9.5em;

					h1 {
						font-size: x-large;
					}
				}

				@include compact {
					top: 7.25em;
				}

				@include mini {
					display: none;
				}

				> p {
					font-size: large;

					@include clamp(2);

					@include mobile {
						font-size: medium;
					}
				}
			}

			&-buttons {
				margin-top: 1em;
				display: flex;
				gap: 1em;

				> a {
					// &:first-of-type {
					// 	@include button(1);
					// }
					@include button(3);
				}
			}
		}
	}

	&-box {
		position: absolute;
	}
}
