@import '../configs/globals';

.hero {
	$hero: &;

	#{$hero}-wrapper {
		@include borderRadius;

		#{$hero}-slide {
			max-height: 550px;

			@include laptop {
				max-height: 450px;
			}

			@include phablet {
				max-height: 350px;
			}

			@include mobile {
				max-height: 250px;
			}

			#{$hero}-image {
				opacity: 0.95;
			}

			&-box {
				position: absolute;
				bottom: 2.5em;
				right: 0;
				max-width: 600px;
				padding: 1.5em;
				background: $white;

				> p {
					font-size: large;

					@include mobile {
						font-size: medium;
					}

					@include clamp(2);
				}

				@include borderRadius(0.25em 0 0 0.25em);

				@include laptop {
					bottom: 0;
					max-width: 100%;
					background: rgba($green, 0.375);
					color: white;
					padding: 1em 1.5em 2em 1.5em;

					@include borderRadius(0);
				}

				@include mobile {
					padding: 1em 1em 2em 1em;
				}
			}

			&-buttons {
				margin-top: 1em;
				display: flex;
				gap: 1em;

				> a {
					// &:first-of-type {
					// 	@include button(1);
					// }
					@include button(3);
				}
			}
		}
	}

	&-box {
		position: absolute;
	}
}
