@import '../configs/globals';

.usp {
	> h2 {
		text-align: center;
		margin-top: 2em;
		display: flex;
		align-items: center;
		gap: 1em;

		&::before,
		&::after {
			content: '';
			flex: 1;
			height: 1px;
		}

		&::before {
			background: linear-gradient(to left, rgba($green, 1), $white);
		}

		&::after {
			background: linear-gradient(to right, rgba($green, 1), $white);
		}
	}

	> div {
		display: flex;
		justify-content: space-evenly;
		padding: 2em 1em;
		gap: 1.5em 1em;
		background: linear-gradient(
			to left,
			rgba($black, 0.0375),
			$white,
			rgba($black, 0.0375)
		);
		position: relative;

		@include borderRadius;

		@include desktop {
			flex-wrap: wrap;
		}

		@include mobile {
			flex-direction: column;
		}
	}

	&-button {
		display: flex;
		justify-content: center;

		@include desktop {
			width: calc(49% - 1em);
		}

		@include phablet {
			width: 100%;
		}

		> button {
			display: flex;
			align-items: center;
			gap: 1em;
			padding: 1.5em 2em;

			width: 100%;
			min-width: 250px;
			font-weight: 500;
			font-size: large;

			@include boxShadow(2);
			@include borderRadius;
			@include smoothTrans(transform);

			@include laptop {
				padding: 1.5em;
			}

			> i {
				font-size: 2em;
				color: $green;
				min-width: 40px;
			}

			> span {
				@include ellipsis;
			}

			&:hover {
				transform: translateY(-0.25em);
				outline: 1px solid $green;

				background: linear-gradient(
					to left,
					rgba($green, 0.1),
					$white,
					rgba($green, 0.01)
				);
			}
		}
	}

	&-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2em;
		padding: 2em;
		outline: 1px solid $green;

		@include borderRadius;
		@include boxShadow;

		@include phablet {
			flex-direction: column;
		}

		&-coaching {
			background: linear-gradient(
					to left,
					rgba($white, 0.675),
					rgba($green, 0.65)
				),
				url('../../images/usp/coaching.jpg') no-repeat center 25% / cover;
		}

		&-mentoring {
			background: linear-gradient(
					to left,
					rgba($white, 0.675),
					rgba($green, 0.65)
				),
				url('../../images/usp/mentoring.avif') no-repeat center 25% / cover;
		}

		&-opvoedondersteuning {
			background: linear-gradient(
					to left,
					rgba($white, 0.675),
					rgba($green, 0.65)
				),
				url('../../images/usp/opvoedondersteuning.jpg') no-repeat center 50% /
					cover;
		}

		&-bemiddeling {
			background: linear-gradient(
					to left,
					rgba($white, 0.675),
					rgba($green, 0.65)
				),
				url('../../images/usp/bemiddeling.jpg') no-repeat center 62.5% / cover;
		}

		button {
			@include button(2);

			@include phablet {
				align-self: flex-end;
			}
		}
	}
}
