@use "./customs/" as *;

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Thin.woff2") format("woff2");
    font-weight: 100; /* Thin */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-ThinItalic.woff2") format("woff2");
    font-weight: 100; /* Thin */
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-ExtraLight.woff2") format("woff2");
    font-weight: 200; /* ExtraLight */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-ExtraLightItalic.woff2") format("woff2");
    font-weight: 200; /* ExtraLight */
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Light.woff2") format("woff2");
    font-weight: 300; /* Light */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-LightItalic.woff2") format("woff2");
    font-weight: 300; /* Light */
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Regular.woff2") format("woff2");
    font-weight: 400; /* Regular */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Italic.woff2") format("woff2");
    font-weight: 400; /* Regular */
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Medium.woff2") format("woff2");
    font-weight: 500; /* Medium */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-MediumItalic.woff2") format("woff2");
    font-weight: 500; /* Medium */
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
    font-weight: 600; /* SemiBold */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-SemiBoldItalic.woff2") format("woff2");
    font-weight: 600; /* SemiBold */
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Bold.woff2") format("woff2");
    font-weight: 700; /* Bold */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-BoldItalic.woff2") format("woff2");
    font-weight: 700; /* Bold */
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-ExtraBold.woff2") format("woff2");
    font-weight: 800; /* ExtraBold */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-ExtraBoldItalic.woff2") format("woff2");
    font-weight: 800; /* ExtraBold */
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Black.woff2") format("woff2");
    font-weight: 900; /* Black */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-BlackItalic.woff2") format("woff2");
    font-weight: 900; /* Black */
    font-style: italic;
    font-display: swap;
}

h1 {
    @include fluid-typing(28, 32);
}

h2 {
    @include fluid-typing(24, 28);
}

h3 {
    @include fluid-typing(22, 24);
}

h4 {
    @include fluid-typing(20, 22);
}

h5 {
    @include fluid-typing(18, 20);
}

h6 {
    @include fluid-typing(16, 18);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: rem-calc(8);
    font-weight: 600;
}
