@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import './configs/resets';
@import './configs/globals';

.prio-zorg {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

main {
	flex: 1;
	padding: 1em 0;
}

body {
	font-family: 'Poppins', sans-serif;

	@include container;
}

footer {
	flex-shrink: 0;
}

.responsive-tag {
	position: fixed;
	top: 1%;
	left: 50%;
	transform: translateX(-50%);
	padding: 0.25em 0.75em;
	z-index: 1000;
	font-weight: bold;
	text-align: center;
	background-color: $white;
	opacity: 0.5;
	color: $black;
	outline: $black 1px solid;
}
