@use "./customs" as *;
@use "swiper";
@use "typography";

:root {
    --swiper-theme-color: #{$green} !important;
    --swiper-theme-color-hover: #{$black} !important;
    --swiper-scrollbar-drag-bg-color: #{$green} !important;
    --swiper-pagination-color: #{$green} !important;
    --swiper-scrollbar-bg-color: #181a3730 !important;
    --swiper-pagination-bullet-inactive-color: #fff !important;
    --swiper-pagination-bullet-inactive-color-hover: #{$green} !important;
    --swiper-pagination-bullet-inactive-opacity: 0.125 !important;
    --swiper-navigation-sides-offset: 0px !important;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins, sans-serif;
    letter-spacing: 0.25px;
    background: linear-gradient(90deg, rgba($green, 0.05), $white);
    min-width: rem-calc(320);

    @include container;
}

main {
    flex: 1;
    padding: rem-calc(32 0 40);

    @include mobile {
        padding: rem-calc(40 0);
    }

    p {
        font-size: rem-calc(18);
        max-width: 80ch;

        &:not(:last-of-type) {
            margin-bottom: rem-calc(16);
        }
    }

    ul > li {
        font-size: rem-calc(18);

        &:not(:last-of-type) {
            margin-bottom: rem-calc(8);
        }
    }
}

a:not(#usp a, #footer-socials a, #footer-logo a, #footer-bottombar a) {
    main & {
        font-weight: 600;

        @include smooth-trans(text-decoration-line);

        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-underline-offset: 0.25em;
            text-decoration-color: $green;
        }
    }

    footer & {
        @include smooth-trans(text-decoration-line);

        &::after {
            content: "➤";
            visibility: hidden;
            color: $green;
            margin-left: rem-calc(8);
        }

        &:hover {
            &::after {
                visibility: visible;
            }
        }
    }
}

.prio {
    &-zorg {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
    }

    &-intro {
        font-size: larger;
    }

    &-title {
        padding-right: rem-calc(2);
        font-weight: 600;

        @include fluid-typing(28, 32);
    }
}

footer {
    flex-shrink: 0;
}

.responsive-tag {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    padding: rem-calc(4 12);
    z-index: 1000;
    font-weight: bold;
    text-align: center;
    background: $white;
    opacity: 0.5;
    color: $black;
    outline: $black 1px solid;
}
