@use "../../customs" as *;

.actual {
    &.collapsible {
        display: flex;
        justify-content: space-between;
        margin: rem-calc(32 0);
        border: 1px solid rgba($black, 1);
        flex-direction: column;

        @include border-radius;
        @include box-shadow(1);

        @include phablet {
            flex-direction: row;
        }

        .headers {
            display: flex;
            flex-direction: column;
            background: rgba($green, 0.375);
            border-bottom: 1px solid rgba($black, 1);
            border-right: none;

            @include phablet {
                border-right: 1px solid rgba($black, 1);
                border-bottom: none;
            }

            .header {
                cursor: pointer;
                white-space: nowrap;
                padding: rem-calc(8 16);
                margin-bottom: 0;

                &.active {
                    background: rgba($green, 0.5);
                }
            }
        }

        .content {
            flex-grow: 1;
            padding: rem-calc(16);
        }
    }
}
