@use "../../customs" as *;

.footer {
    $this: &;

    display: flex;
    flex-direction: column;

    &-top-bar {
        background: linear-gradient(90deg, rgba($black, 0.075), $white);
        width: 100%;

        @include full-width;

        #{$this}-top-wrapper {
            display: grid;
            grid-template-columns: 1fr;
            gap: rem-calc(32);

            @include container(
                $mobPaddingY: rem-calc(32),
                $paddingY: rem-calc(32)
            );

            @include tablet {
                grid-template-columns: repeat(2, 1fr);
                gap: rem-calc(48 24);
            }

            @include laptop {
                grid-template-columns: repeat(4, 1fr);
            }

            .socials {
                h6 {
                    margin-bottom: rem-calc(12);
                }

                ul {
                    display: flex;
                    gap: rem-calc(16);

                    li {
                        a {
                            color: $black;
                            font-size: rem-calc(30);

                            &:hover {
                                opacity: 0.75;
                            }
                        }
                    }
                }
            }

            .general {
                @extend %footer-column;
            }

            .list {
                @extend %footer-column;

                ul {
                    li {
                        &:nth-of-type(3) {
                            margin-top: rem-calc(16);
                            margin-bottom: rem-calc(16);
                        }
                    }
                }
            }

            .logo {
                width: rem-calc(250);

                img {
                    overflow: hidden;

                    @include border-radius;
                }
            }
        }
    }

    &-bottom-bar {
        background: rgba($green, 0.5);

        @include full-width;

        #{$this}-bottom-wrapper {
            display: flex;
            justify-content: space-between;

            @include container;

            > p {
                text-align: center;
                font-size: small;
                padding: rem-calc(12 0);

                a {
                    font-weight: 600;

                    &:hover {
                        text-decoration: underline;
                        text-decoration-thickness: 1px;
                        text-underline-offset: 0.25em;
                        text-decoration-color: $white;
                    }
                }
            }
        }
    }
}
