@use "../../customs" as *;

.hamburger {
    background: rgba($green, 0.625);
    padding: rem-calc(12 8);
    height: fit-content;
    display: none;
    margin-top: rem-calc(16);

    @include borderRadius;

    @include mobile {
        display: block;
    }

    .icon {
        width: rem-calc(36);
        height: rem-calc(24);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        .line {
            width: 100%;
            height: rem-calc(4);
            background: $black;
            transition: transform 0.3s, opacity 0.3s;

            @include borderRadius;
        }

        &.open .line:nth-child(1) {
            transform: translateY(10px) rotate(45deg);
        }

        &.open .line:nth-child(2) {
            opacity: 0;
        }

        &.open .line:nth-child(3) {
            transform: translateY(-11px) rotate(-45deg);
        }
    }
}
